:root {
  --color1: #3c5599;
  --color2: rgb(10, 159, 245);
  --font1: 'Poppins', sans-serif;
  --fontsize1: 1rem;
  --font2: 'Archivo Narrow', sans-serif;
  --fontsize2: 0.8rem
}
body {
  background: #35424a;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: auto;
}
